.main-container {
    display: flex;
    background-color: black;

  }
  
  #side-nav-farmer {
    /* background: #2c0b1f; */
    /* background: #052514; */
    background: #0B4619;
    min-width: 250px;
    max-width: 250px;
  }
  
  .logoSideBarFarmer {
    height: 160px;
    width: 50px;
    padding-left: 50px;
  }
  
  .imgLogoSideBar {
    height: 100px;
    width: 150px;
  }
  
  hr.h-color {
    background: #d71212;
  }
  
  .sidebar li.active {
    background: #ffffff;
    border-radius: 8px;
  }
  
  .sidebar li.active a,
  .sidebar li.active a:hover {
    color: #000;
  }
  
  .sidebar li a {
    color: #fff;
  }
  
  li {
    margin-bottom: 10px;
  }
  