.my-data-table .rdt_TableHead {
    background-color: #f1f1f1;
    /* Change the background color of table heading */
    color: black;
    /* Change the font color of table heading */
    font-size: 14px;
    /* Change the font size of table heading */}