.AoProfileContainer {
  width: 100%;
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.profileEditAO {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
