/* .main-container {
    display: flex;
    background-color: black;
  }
  
  #side-nav {
    background: #022902;
    /* background: #003e1f; */
    /* min-width: 250px;
    max-width: 250px;
  } */
  
  /* .logoSideBar {
    height: 150px;
    width: 50px;
    padding-left: 50px;
  } */
  
  /* .imgLogoSideBar {
    height: 100px;
    width: 150px;
  } */
  
  /* hr.h-color {
    background: #d71212;
  } */
/*   
  .sidebar li.active {
    background: #ffffff;
    border-radius: 8px;
  } */
  
  /* .sidebar li.active a,
  .sidebar li.active a:hover {
    color: #000;
  } */
  
  /* .sidebar li a {
    color: #fff;
  }
  
  li {
    margin-bottom: 10px;
  }
  
.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
  }
   */ 