.main-container {
  display: flex;
  background-color: black;
}

#side-nav-admin {
  background: rgb(5, 14, 71);
  background: linear-gradient(
    180deg,
    rgba(5, 14, 71, 1) 0%,
    rgba(1, 13, 93, 1) 100%
  );
  min-width: 250px;
  max-width: 250px;
}

.logoSideBar-admin {
  height: 150px;
  width: 50px;
  padding-left: 50px;
  margin-bottom: 50px;
}

.imgLogoSideBar-admin {
  height: 150px;
  width: 150px;
}

hr.h-color {
  background: #d71212;
}

.sidebar li.active {
  background: #ffffff;
  border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: #000;
}

.sidebar li a {
  color: #fff;
}

.sidebar li {
  margin-bottom: 10px;
}
