.required:after {
  content: ' *';
  color: red;
}

.required label {
  font-weight: bold;
}

.notRequired label {
  font-weight: bold;
}

.cardFarmerReg {
  /* From https://css.glass */
  background: rgba(116, 153, 195, 0.28);
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(116, 153, 195, 0.4);

  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: rgba(223, 215, 202, 0.75);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(248, 245, 240, 0.25);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.formImgContainer {
  margin: 10px;
}

.formImg {
  width: 97.7%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.cardFarmerReg input {
  font-size: 16px;
}

.cardFarmerReg select option[disabled] {
  color: #004d99;
}

.addFarmerInfoDiv {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 500;
}
