.calendar {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btnPrice {
  background-color: #0fd561;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btnPrice:hover {
  background-color: #000000;
}

.price-list-title {
  margin-bottom: 1rem;
  text-align: center;
}

.category-title {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
}

.price-table th {
  background-color: #0fd561;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  width: 250px;
}

.price-table td {
  padding: 0.5rem;
}

.type-header {
  width: 40%;
}

.selling-price-header,
.buying-price-header {
  width: 30%;
}

.selling-price-cell,
.buying-price-cell {
  text-align: center;
}

.no-prices {
  text-align: center;
  font-style: italic;
}
