/* ----------------------------------------------------
    Breadcurmb Area
---------------------------------------------------- */
.ltn__breadcrumb-area-aboutuspage {
  background-color: #f4f4f4;
  margin-bottom: 120px;
  padding-top: 110px;
  padding-bottom: 110px;
  background-image: url(../../img/other\ comp/aboutusbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ltn__breadcrumb-list ul {
  margin: 0;
  padding: 0;
}

.ltn__breadcrumb-list ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  font-weight: 700;
}
.AboutUsimg {
  width: 70%;
  height: 80%;
  background-image: url(../../img/other\ comp/aboutusbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.BackgroundAboutUs {
  background-color: #dbf5e3;
}
